.element::-webkit-scrollbar { width: 0 !important }

.main-bar{
    background-color: #042235;
    width: 20%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        font-family: 'ProximaNova';
        font-size: 30px;
        line-height: 36px;
        color:#ffffff;
        margin: 36px 10px;
    }

    .fav-container::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge add Firefox */
      .fav-container {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
      }

    .fav-container  {
        overflow-y: auto;
        width: 90%;
        padding: 10px;

        .fav-box{
            display: flex;
            justify-content: space-between;
            font-family: 'ProximaNova';
            font-size: 16px;
            line-height: 18px;
            color:#363636;
            margin: 10px;
            padding: 5px;
            background-color: rgb(237, 237, 237);
            outline-color: #fcfcfc;
            border-radius: 5px;
            cursor: pointer;
        }

        .title{
            max-width: 200px;
            max-height: 18px;
            overflow: hidden;
            cursor: pointer;
        }

        .bin {
            width: 20px;
            height: 20px; 
            cursor: pointer;
        }
    }
}